body{
    margin:0;
    background: linear-gradient(90deg, rgb(53, 93, 138) 30%, rgb(87, 217, 133) 100%);
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.pad{
    background-color: rgba(255, 255, 255, 0.714);
    width:100%;
    width:400px;
    height: 600px;
    border-radius: 20px;
    margin-top: 70px;
    box-shadow: 0 8px 10px rgb(7, 76, 110);
    
}
.digit{
    height:70px;
    width:70px;
    text-transform: uppercase;
    border-radius: 50%;
    background-color: #a49a9a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
    box-shadow: 0 8px 10px rgb(88, 85, 85);
    
}
.row{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}
#circle{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color:green;
    text-align: center;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 1);

}
.inner{
    display: flex;
    flex-direction: column;
}
p{
    font-weight: bold;
}
svg{
    margin-top: 20px;
    font-size: 20px;
    fill:white;
    width:30px;
    height:30px
}
.digit:hover{
    background-color: grey;
    cursor:grab;
}
#circle:hover{
    cursor:grab;
    background-color: rgb(11, 63, 11);
}